[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = http://github.com/reinh/vim-makegreen.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = http://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = http://github.com/edsono/vim-bufexplorer.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = http://github.com/msanders/cocoa.vim.git
[submodule "bundle/html.vim"]
	path = bundle/html.vim
	url = http://github.com/xenoterracide/html.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/greplace.git"]
	path = bundle/greplace.git
	url = https://github.com/vim-scripts/greplace.vim.git
